
<table class="left_table  tab1 table-hover scrolltable tablesorter table-striped" id="table1"  name="table" cellspacing="0" cellpadding="10px" align="center">
    <thead  style="display:block;overflow-y: scroll;">
    <tr>
        <th><input class="all_1" type="checkbox" name="all"/>全选</th>
        <th>种子词</th>
        <th>推荐词</th>
    </tr>
    </thead>
    <tbody class="list" style="display:block; max-height:800px;overflow-y: scroll;">
    <% for (var word in data) {%>
    <tr class = "<%=gj %>-<%=num %>-<%=word  %>">
        <td><input class="check" type="checkbox" name="all"  /></td>
        <td ><%=data[word].word_ori %></td>
        <td class="tc_word"><%=data[word].word_re %></td>
    </tr>
    <% } %>
    </tbody>
</table>