<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="balance clear">
            <div class="logo-1">
                <img src="http://7xrc8m.com1.z0.glb.clouddn.com/%E7%82%B9%E5%87%BB%E9%87%8F.png" alt=""/>
            </div>
            <div class="logo-2">
                <p class="yushan-1">Loading...</p>
                <p class="yushan-2">
                    余额：
                                        <span>
                                        Loading...
                                        </span>
                </p>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <!--<li >
                <a href="javascript:;"><i class="iconfont icon-demo-page"></i> 示例页面<i class="iconfont arrow"></i></a>
                <ul class="nav nav-second-level">

                </ul>
            </li>
            <li >
                <a href="javascript:;"><i class="iconfont icon-demo-page"></i> 第三方示例<span class="iconfont arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= constructInsideUrl('charts/echarts') %>" >图表</a>
                    </li>
                    <li>
                        <a href="<%= constructInsideUrl('charts/echarts-single') %>" >单个图表</a>
                    </li>
                </ul>
            </li>-->
            <li >
                <a href="javascript:;"><i class="iconfont icon-demo-page"></i> 设置<span class="iconfont arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= constructInsideUrl('index/login') %>" target="_blank">登录页</a>
                    </li>
                    <li>
                        <a href="<%= constructInsideUrl('user/edit-password') %>">修改密码</a>
                    </li>
                    <li>
                        <a href="<%= constructInsideUrl('user/modify-info') %>">修改个人资料</a>
                    </li>
                </ul>
            </li>
            <li class="menu">

                <!--<span class="left-icon-1">-->
                <!--<img src="http://7xrc8m.com1.z0.glb.clouddn.com/%E6%A6%82%E8%A7%88.png" alt=""/>-->
                <!--</span>-->
                <a href="<%= constructInsideUrl('sem/gailan') %>">概览</a>
            </li>
            <li class="menu">
                <!--<span class="left-icon-1">-->
                <!--<img src="http://7xrc8m.com1.z0.glb.clouddn.com/%E8%AE%A1%E5%88%92.png" alt=""/>-->
                <!--</span>-->
                <a href="<%= constructInsideUrl('sem/jihua') %>">计划</a>
            </li>
            <li class="menu">
                <!--<span class="left-icon-1">-->
                <!--<img src="http://7xrc8m.com1.z0.glb.clouddn.com/gj.png" alt=""/>-->
                <!--</span>-->
                <a href="<%= constructInsideUrl('sem/keyword') %>">关键词</a>
            </li>
            <li class="menu">
                <!--<span class="left-icon-1">-->
                <!--<img src="http://7xrc8m.com1.z0.glb.clouddn.com/%E5%88%86%E6%B8%A0%E9%81%93.png" alt=""/>-->
                <!--</span>-->
                <a href="<%= constructInsideUrl('sem/qudao') %>">渠道</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/ribao') %>">日报</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/tuoci') %>">拓词</a>
            </li>
        </ul>
    </div>
</div>
