<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" id="baohan">
        <ul class="nav" id="side-menu">
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/gailan') %>">概览</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/jihua') %>">计划</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/keyword') %>">关键词</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/qudao') %>">渠道</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/newribao') %>">日报</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/bili') %>">分时段对比图</a>
            </li>
        </ul>
    </div>
</div>
