<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" id="baohan">
        <ul class="nav" id="side-menu">
            <li>
                <a href="javascript:;"><i class="iconfont icon-demo-page"></i> 用户管理<span class="iconfont arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/user') %>">修改用户</a>
                    </li>
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/zcuser') %>">注册用户</a>
                    </li>
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/addzhu') %>">新添账户</a>
                    </li>
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/userpasd') %>">修改密码</a>
                    </li>
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/crecount') %>">新建账户</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="iconfont icon-demo-page"></i> 列表<span class="iconfont arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/account') %>">账户列表</a>
                    </li>
                    <li class="menu">
                        <a href="<%= constructInsideUrl('sem/client') %>">客户列表</a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/gailan') %>">概览</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/jihua') %>">计划</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/keyword') %>">关键词</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/qudao') %>">渠道</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/newribao') %>">日报</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/newtuoci') %>">拓词</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/mingdan') %>">黑名单</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/bili') %>">分时段对比图</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/group') %>">分组管理</a>
            </li>
            <li class="menu">
                <a href="<%= constructInsideUrl('sem/shezhi') %>">账户管理</a>
            </li>
        </ul>
    </div>
</div>
