<table id="myTable" class="tablesorter table">
    <thead>
    <tr>
        <th>名字</th>
        <th>时间</th>
        <th colspan='2'>状态</th>
    </tr>
    </thead>
    <tbody class="list">
<% for (var j=0; j<date.length; j++) { %>
<tr>
    <td class="id" style="cursor: pointer;text-decoration: underline;color: #00afe9;"><%=date[j].taskname %></td>

    <td class="click"> <%=date[j].date %>
    </td>
    <td class="down"> <span><%=date[j].flag %></span><button data-name="<%=date[j].taskname %>" disabled>完成</button>
    </td>
    <td class="rate"> <span><%=date[j].flag %></span><button data-name="<%=date[j].taskname %>">下载</button>
    </td>
</tr>
<% } %>
    </tbody>
</table>



