<table cellspacing="30px" id="table2" class="tablesorter table-striped">
    <thead>
    <tr>
        <th style="width: 100px;">日期
        </th>
        <th style="width: 100px;">渠道包名
        </th>
        <th style="width: 100px;">推广计划
        </th>
        <th>计划1</th>
        <th>计划2</th>
    </tr>
    </thead>
    <tbody class="table1 list1">
    <% for (var i=0; i<data.length; i++) { %>
    <tr title="<%=data[i].jihuaid %>">
        <td class="date" style="width: 100px;"><%=data[i].date %></td>
        <td class="qudao" style="width: 100px;">无</td>
        <td class="tui_jihua" style="width: 100px;"><%=data[i].name %></td>
        <td>
            <p><span>计划消费:</span><span class="ji_cost"><%=data[i].cost %></span> <span>计划激活:</span><span class="ji_active"><%=data[i].jihua_active %></span></p>
            <p><span>计划激活成本:</span><span class="ji_activecb"><%=data[i].jihua_active_chengben %></span><span>展现:</span><span class="ji_view"><%=data[i].view %></span></p>
            <p><span>点击:</span><span class="ji_pv"><%=data[i].click %></span><span>点击率:</span><span class="ji_pvrate"><%=data[i].click_rate+"%" %></span></p>
            <p><span>点击单价:</span><span class="ji_pvdan"><%=data[i].click_price %></span><span>备注:</span><span class="remark"><a href="#" class="remark1" data-type="textarea">无</a></span></p>
        </td>
        <td>
            <p><span>按钮展现:</span><span class="ji_btnview"><%=data[i].view_button %></span> <span>按钮点击:</span><span class="ji_btnpv"><%=data[i].click_button %></span></p>
            <p><span>按钮消费:</span><span class="ji_btncost"><%=data[i].button_cost %></span> <span>按钮激活:</span><span class="ji_btnactive"><%=data[i].active_button %></span></p>
            <p><span>按钮激活成本:</span><span class="ji_btnactivecb"><%=data[i].active_button_chengben %></span> <span>按钮展现占比:</span><span class="ji_btnviewb"><%=data[i].button_view_rate +"%"%></span></p>
            <p><span>按钮消费占比:</span><span class="ji_btncostb"><%=data[i].button_cost_rate +"%"%></span> <span>落地页消费:</span><span class="ji_pagecost"><%=data[i].h5_cost %></span></p>
            <p class="els-<%=data[i].date %>"><span>落地页激活:</span><span class="ji_pageactive"><a href="#" class="ji_pageactive1" data-type="text"><%=data[i].h5_active %></a></span> <span>落地页激活成本:</span><span class="ji_pageactivecb"><%=data[i].h5_active_chengben %></span></p>
        </td>
    </tr>
    <% } %>
    </tbody>

</table>