
<% for (var i in data) {%>
<li class="list-group-item">
    <span class="check"><input type="checkbox" name="checkn"></span>
    <span data-id="<%=data[i].huid %>" data-appid="<%=data[i].appid %>" data-name="<%=data[i].name %>" class="sem"><%=data[i].name %></span>
    <span class="semname"><%=data[i].semname %></span>
    <span class="pinyin" style="display: none;"><%=data[i].pinyin %></span>
</li>
<% } %>